body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #FAC601;
}



.logo {
    width: 125px;
    height: 98px;
    padding: 13px;
}

.sandwich, .logo-text {
    display: none;
}

.full-cart {
    display: flex;
}

.cart {
    justify-self: flex-end;
    align-self: center;
    padding-right: 20px;
    height: 40px;
    width: 45px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    
}

button {
    font-family: 'Bebas Neue', sans-serif;
    font-size: large;
    background-color: #FAC601;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin: 0 5px;
    width: 200px;
}

.hidden {
    display: none;
}

@media only screen and (min-width: 768px) {

    .logo {
        display: none;
    }
    
    .wide-logo {
        display: flex;
        justify-content: column;
    }

    .sandwich {
        display: block;
        width: 150px;
        height: 94px;
        padding: 15px;
    }

    .logo-text {
        display: block;
        align-self: center;
        width: 250px;
        height: 78px;
    }

}